body.archive {

	.page-title {
		text-align: center;
	}

	.container__posts {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.article__post {
		flex-basis: 100%;
		display: flex;
		flex-direction: column;
	    justify-content: space-between;
		margin-top: $spacing*2;
		margin-bottom: $spacing*2;
		padding: 1rem;
		// box-shadow: 0px 0px 2px 1px $black;
		border: 1px solid $grey_light;

		@media (min-width: $medium) {
			flex-basis: 48%;
		}

		@media (min-width: $large) {
			flex-basis: 31%;
		}

		@media (min-width: $xLarge) {
			
		}

	}

	.post__title {
		margin-top: $spacing*0.5;
		margin-bottom: $spacing*0.5;
	}

	.post__excerpt {
		p {
			margin-top: $spacing*0.5;
			margin-bottom: $spacing*0.5;
		}
	}

	.post__image {
		img {
			width: 100%;
		}
	}

	.post__read__more {
		background-color: $blue;
		color: $white;
	}

	.all__articles__navigation {
		text-align: center;
	}

}

body.post-type-archive-feature_friday {

	.page-title {
		text-align: center;
	}

	.container__posts {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.ff__post {
		flex-basis: 100%;
		display: flex;
		flex-direction: column;
	    justify-content: space-between;
		margin-top: $spacing*2;
		margin-bottom: $spacing*2;
		padding: 1rem;
		// box-shadow: 0px 0px 2px 1px $black;
		border: 1px solid $grey_light;

		@media (min-width: $medium) {
			flex-basis: 48%;
		}

		@media (min-width: $large) {
			flex-basis: 31%;
		}

		@media (min-width: $xLarge) {
			
		}

	}

	.post__title {
		margin-top: $spacing*0.5;
		margin-bottom: $spacing*0.5;
	}

	.post__excerpt {
		p {
			margin-top: $spacing*0.5;
			margin-bottom: $spacing*0.5;
		}
	}

	.post__image {
		img {
			width: 100%;
		}
	}

	.post__read__more {
		background-color: $blue;
		color: $white;
	}

	.all__feature__friday__navigation {
		text-align: center;
	}

}