* { box-sizing: border-box; }

html {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	min-height: 100%;
	// font-family: $font;
	font-size: $base_font_size;
	line-height: 1.6;
	background-color: $white;
	color: $text;

	@media (min-width: $medium) {
		font-size: $base_font_size*1.2;
	}

	&.no__overflow {
		overflow: hidden;
	}

}

ol,
ul,
li,
a,
p,
span {
	font-size: $base_font_size;

	@media (min-width: $medium) {
		font-size: $base_font_size*1.2;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	// font-family: $font;
}

a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	color: $link;
	cursor: pointer;
	outline: none;
	text-decoration: none;

	&:active,
	&:hover {
		color: lighten($link, 10%);
	}

}

img {
	max-width: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

button,
input,
select,
textarea {
	// font-family: $font;
}


.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}


/* layout */

.page__wrapper {
	padding-left: $spacing*1.5;
	padding-right: $spacing*1.5;
}


/* components */

.button {
	text-decoration: none;
	display: inline-block;
	border: 1px solid $white;
	margin: $spacing 0;
	padding: $spacing $spacing*1.2;
	text-transform: uppercase;
	font-size: $base_font_size*0.9;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.4s ease;

	@media (min-width: $medium) {
		
	}

	&:hover,
	&:active,
	&:focus {
		background-color: $black;
		color: $white;
	}
}



