.global__header {

	
}

.container__top__banner {
	display: flex;
    justify-content: space-between;
    padding: $spacing*1.4 $spacing*1.5 $spacing;
	background-color: $black;

    @media screen and (min-width: $medium) {
    	justify-content: flex-end;
		// padding-right: $spacing*2;
	}

}

.social {
	padding-right: $spacing;

	@media screen and (min-width: $medium) {
		padding-right: $spacing*2;
	}

	.social__icon {
		display: inline-block;
		width: 30px;

		@media screen and (min-width: $medium) {
			width: 40px;
		}

		img {
			width: 100%;
			border-radius: 50%;
		}

	}

	.social__icon:nth-child(2) {
		margin-left: 2px;
		margin-right: 2px;

		@media screen and (min-width: $medium) {
			margin-left: 8px;
			margin-right: 8px;
		}

	}

}


.search__form {
	display: flex;
	margin: 0;
	padding: 0;
	height: 30px;

	@media screen and (min-width: $medium) {
		height: 40px;
	}

	.form__input {
		appearance: none;
		outline: none;
		border-radius: 0;
		border: 1px solid $white;
		width: 140px;
		height: 100%;
		padding: $spacing*0.5 $spacing;

		@media screen and (min-width: $medium) {
			width: 180px;
		}

		@media screen and (min-width: $large) {
			width: 260px;
		}

		@media screen and (min-width: $xLarge) {
			width: 320px;
		}

	}

	.form__submit {
		width: 30px;
		padding: $spacing*0.5;
		background-color: $black;
		background-image: url('../imgs/icons/icon-search.svg');
		background-repeat: no-repeat;
		background-size: 18px 18px;
		background-position: center center;
		color: $white;
		cursor: pointer;

		@media screen and (min-width: $medium) {
			width: 40px;
			background-size: 24px 24px;
		}

	}

}

.nav__main {
	// position: relative;
	padding: $spacing $spacing*1.5;
    border-top: 3px solid $black;
    border-bottom: 3px solid $black;

	> ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
	}

	.nav__mobile {
		align-items: center;
		background-color: $white;
		
		// &.fixed {
		// 	position: fixed;
		// 	width: 100%;
		// 	top: 0;
		// 	left: 0;
		// 	right: 0;
		// 	z-index: 100;
		// 	padding: 10px 15px;
		// 	border-top: 1px solid #000;
		// 	border-bottom: 1px solid #000;
	 //    }

		@media screen and (min-width: $medium) {
			display: none;
		}

	}

	.nav__mobile .nav__label {
		text-transform: uppercase;
		font-weight: 900;
		line-height: 1;
	}

	.nav__mobile .nav__trigger img {
		display: block;
		width: 30px;
	}

	.nav__items {
		flex-direction: column;
		justify-content: flex-start;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 110;
		width: 100%;
		height: 100%;
		max-height: 0;
		overflow: hidden;
    	text-transform: uppercase;
    	background-color: $black;
    	opacity: 0;
    	transition: opacity 0.4s ease-in-out;

    	&.active {
    		opacity: 1;
    		max-height: 100%;
	    	transition: opacity 0.4s ease-in-out;
    	}

    	@media screen and (min-width: $medium) {
    		position: static;
			flex-direction: row;
			justify-content: space-between;
			max-height: 100%;
			opacity: 1;
			// overflow: visible;
			background-color: transparent;
		}

    	li {
    		border-bottom: 1px solid $white;
    		padding: $spacing*1.6 $spacing*2;
    		font-weight: 900;
    		color: $white;

	    	@media screen and (min-width: $medium) {
				border-bottom: none;
				padding: $spacing $spacing*0.5;
			}

			&:nth-of-type(2) {
				border-top: 1px solid $white;
				
				@media screen and (min-width: $medium) {
					border-top: none;
				}

			}

    		&:last-of-type {
    			border-bottom: none;
    		}

    		&.current-cat a {
    			color: $blue;
    		}

    		a {
    			color: $white;

    			@media screen and (min-width: $medium) {
					color: $black;
				}

    		}

    	}

    	.mobile__close {
    		border: none;
    		align-self: flex-end;
    		margin: 20px 10px;
    		background-image: url('../imgs/icons/icon-close.svg');
    		background-repeat: no-repeat;
    		background-size: 24px 24px;
    		background-position: center center;
    		cursor: pointer;

    		@media screen and (min-width: $medium) {
				display: none;
			}

    	}

	}

}

.logo__main {
	padding: $spacing*3.4 $spacing*1.5 $spacing*3;
	text-align: center;

	@media screen and (min-width: $medium) {
		padding: $spacing*4.4 $spacing*1.5 $spacing*4;
	}

	a {
		display: inline-block;
	}

	img {
    	width: 100%;
	    max-width: 160px;

	    @media screen and (min-width: $medium) {
	    	max-width: 200px;
	    }

	}

}
