body.single {

	.entry-header {
		margin-bottom: $spacing*2;
	}

	.post__title,
	.post__date {
		text-align: center;
	}

	.post__title .entry-title {
		margin-bottom: 0;
	}

	.container__social .post__social {

		h3 {
			margin-bottom: 0;
		}

		a {
			margin-left: 10px;
			margin-right: 10px;
		}

	}

	.post__navigation {
		display: flex;
		justify-content: space-between;
		padding-top: $spacing*2;
		padding-bottom: $spacing*2;
	}


}

body.single-feature_friday {

	.post__meta {
		text-align: center;

		.meta__item {
			display: inline-block;
			margin-left: $spacing;
			margin-right: $spacing;
		}

		span:not(.meta__item) {
			font-weight: bold;
		}

	}

	.lightbox__error {
		display: none;
		color: red;

		&.active {
			display: block;
		}
	}

	.owl-carousel {
		margin-top: $spacing*2;
		margin-bottom: $spacing*2;
		padding-left: 20px;
		padding-right: 20px;

		@media (min-width: $medium) {
			margin-top: $spacing*4;
			margin-bottom: $spacing*4;
		}

		&.owl-carousel--lightbox {
			width: 80%;
			margin: 0 auto;

			.lightbox__image {
				width: 100%;
				height: 220px;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center center;

				@media (min-width: $medium) {
					height: 300px;
				}

				@media (min-width: $medium) {
					height: 400px;
				}
			}

		}

		.owl-stage-outer {
			position: relative;
			z-index: 10;
		}

		.owl-item a {
			display: block;
		}

		.owl-nav {
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
		    justify-content: space-between;
			width: 100%;
			height: 100%;
		}

		.owl-prev,
		.owl-next {
			padding: 14px 20px;
			background-color: $blue;
			color: $white;

			&:active,
			&:focus {
				border: 0;
				border: none;
				outline: 0;
			}
		}

		.carousel__prev,
		.carousel__next {
			font-size: 60px;
		}

	}

	.container__social .post__social {

		h3 {
			margin-bottom: 0;
		}

		a {
			margin-left: 10px;
			margin-right: 10px;
		}

	}

	.post-navigation {

		.screen-reader-text {
			display: none;
		}

		.nav-links {
			display: flex;
    		justify-content: space-between;
		}

	}

	.container__owl__carousel {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.9);

		&.active {
			display: flex;
		    justify-content: center;
		    flex-direction: column;
		}

		.owl-prev,
		.owl-next { 
			background-color: transparent;
		}

		.loading__indicator {
			display: none;

			&.active {
				display: block;
			}
		}

		.js-lightbox-close {
			display: none;
			width: 160px;
			margin: 30px auto 0;
			color: $white;
			background-color: $blue;

			&.active {
				display: block;
			}
		}

	}

}