// LAYOUT

// Base Size
$base_size: 10px;

// 0px to 640px
$medium: 641px;

$tablet_portrait: 768px;

// 641 px to 1024px
$large: 1024px;

// 1025px to 1440px
$xlarge: 1440px;


// COLORS

$black: #000000;
$grey_light: #eeeded;
$text: #ababab;
$white: #ffffff;


// ELEMENTS / STATES

$link: $text;


// FONT SIZE

$base_font_size: 16px;




