// LAYOUT

// Base Size
$spacing: 10px;

// 0px to 767px
$medium: 768px;

// 641 px to 1024px
$large: 1024px;

// 1025px to 1440px
$xLarge: 1440px;


// COLORS

$black: #000000;
$grey_light: #eeeded;
$text: #ababab;
$white: #ffffff;


// ELEMENTS / STATES

$link: $text;


// FONT SIZE

$base_font_size: 1rem;




